.tuitForm {
	display: flex;
	justify-content: space-around;
	padding: 1rem;
	background-color: #fff;
	border-bottom: solid 1px #cccccc;
}

.tuitCtn {
	position: relative;
	width: 75%;
}

.tuitInput {
	width: 100%;
	height: 100%;
	padding-left: 1rem;
	padding-right: 3rem;
	font-size: 1rem;
	background-color: #ededed;
	border: none;
	border-radius: 20px;
	box-sizing: border-box;
}

.charCount {
	position: absolute;
	top: 50%;
	right: 2%;
	transform: translate(-2%, -50%);
	color: #657786;
}

.tuitSubmit {
	padding: 0.5rem 1rem;
	font-weight: bold;
	color: #fff;
	border: none;
	border-radius: 9999px;
	background-color: #1fa9ff;
	transition: background-color 0.4s;
}

.tuitSubmit:hover {
	background-color: #1c98e6;
}
