.tuit {
	display: flex;
	padding: 1rem;
	background-color: #fff;
	border-bottom: solid 1px #cccccc;
}

.profilePicCtn {
	flex-basis: 49px;
	margin-right: 10px;
}

.tuitContent {
	width: 100%;
	min-width: 0px;
}

.tuitHeader {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.tuitInfo {
	display: flex;
	margin-bottom: 0.35rem;
	max-width: 100%;
	min-width: 0px;
}

.userIgnCtn {
	display: flex;
	min-width: 0px;
}

.hideOverflow {
	max-width: 100%;
	min-width: 0px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.username {
	flex-shrink: 0;
	margin-right: 0.4rem;
	font-weight: bold;
}

.ign {
	flex-shrink: 1;
	color: #657786;
}

.dotSeparator {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1rem;
	color: #657786;
}

.date {
	color: #657786;
	white-space: nowrap;
}
