.menuItem {
	display: flex;
	padding: 0.7rem;
	border-bottom: solid 1px #ccc;
	cursor: pointer;
}

.menuItem:hover {
	background-color: #f5f5f5;
}

.primary {
	color: #90caf9;
}

.secondary {
	color: #e0245e;
}

.disabled {
	color: #adadad;
	pointer-events: none;
}
