.navbar {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 2rem;
	max-width: 700px;
	height: 53px;
	background-color: #fff;
	border-left: solid 1px #cccccc;
	border-right: solid 1px #cccccc;
	box-sizing: border-box;
}

.itemCtn {
	display: flex;
	align-items: center;
}

.name {
	color: #1fa9ff;
}
