.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	height: 53px;
	background-color: #fff;
	border-bottom: solid 1px #cccccc;
}

.itemCtn {
	display: flex;
	align-items: center;
}

.name {
	color: #1fa9ff;
}
